.navbar-custom {
    background-color: #304C89; /* Color de fondo personalizado */
  }
  
  .navbar-brand-custom {
    color: white; /* Color del texto personalizado */
  }
  
  .navbar-nav .nav-item .nav-link {
    color: white; /* Color del texto */
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    color: #d1d1d1; /* Color del texto al pasar el ratón por encima */
  }
  
  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  